.DS_Store
build/
out/
target/
.idea/
.settings/
/output
/bwapi_bridge/Debug/
/bwapi_bridge/Release/
/bwmirror/src/main/java/bwapi
/bwmirror/src/main/java/bwta
/bwmirror/src/main/resources/bwapi_bridge*.dll
.project
.classpath
*.iml
*.eml
*.ipr
*.iws
*.class
*.jar
*.sdf
*.opensdf
*.user
*.suo
*.idb
*.ilk
*.pdb
