.DS_Store
build/
out/
target/
.idea/
.settings/
.project
.classpath
*.iml
*.eml
*.ipr
*.iws
*.class
*.jar
*.sdf
*.opensdf
*.user
*.suo
*.idb
*.ilk
*.pdb
/compiled
/compiled4
/headers
/headers4
/concat_header.h
/concat_header4.h
/c
/c4
/generated
